<br><br><br>
<center> <h3 >========================================================</h3> </center>
<center> <h1 style="color:green"> بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ </h1> </center>
<center> <h3>========================================================</h3> </center>
<br><br><br>

<center><h1 style= "center" > Python Syntax </h1></center>

#### Print

In [2]:
import tensorflow as tf
print(tf.__version__)

2.5.0

In [1]:
import cv2
print (cv2.__version__)

4.6.0

In [1]:
print("Hello, World!")

Hello, World!

In [8]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [29]:
x = 5
y = 10
print(x + y)

15

In [25]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

#### Data Types

In [ ]:
Text Type: 	str
Numeric Types: 	int, float, complex
Sequence Types: 	list, tuple, range
Mapping Type: 	dict
Set Types: 	set, frozenset
Boolean Type: 	bool
Binary Types: 	bytes, bytearray, memoryview

### Variables

In [4]:
x = 5
y = "Hello"

print (y,x)

Hello 5

In [6]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [7]:
# Unpack a collection

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#### Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

#### Get Type

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Comments

In [ ]:
# Comments can be very helpfull

"""
For multi-Line Comments
we can use this thing
"""

In [17]:
import random

print(random.randrange(1, 10))

2

In [18]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [19]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

### Slicing

In [20]:
b = "Hello, World!"
print(b[2:5])

llo

In [22]:
b = "Hello, World!"
print(b[:6])

Hello,

In [23]:
b = "Hello, World!"
print(b[-5:-2])

orl

### Replace String

In [24]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
print(a.upper())
print(a.lower())

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

### Python Arithmetic Operators

### **

In [30]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

### //

In [31]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

In [1]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

In [2]:
str = "pynative"
print (str[1:3])

yn

In [5]:
sampleSet = {"Jodi", "Eric", "Garry"}
print(sampleSet)
sampleSet.add("Vicki")
print(sampleSet)

{'Garry', 'Eric', 'Jodi'}
{'Garry', 'Eric', 'Vicki', 'Jodi'}

In [6]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [7]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [8]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

In [9]:
var= "James Bond"
print(var[2::-1])

maJ